.mouseOn{
  background-color: #bcd5eb !important;
  outline: 2px solid #5166bb !important;
  background: none !important;
}

#fSearch{
  position: fixed;
  background-color: lightgrey;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
#fSearch > div {
  position: relative;
  padding: 20px;
}
#closefilt{
  position: absolute;
  padding: 5px;
  right: 0;
  top: 0;
  cursor: pointer;
}

/* .onboarding__page,
.onboarding,
.onboarding-modal {
  display: none !important;
} */
.sf-flash {
    display: none;
    background: #404040;
    position: fixed;
    bottom: 47px;
    right: 30px;
    padding: 20px 16px;
    color: #fff;
    letter-spacing: 0.03em;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.07);
    -webkit-animation-duration: .2s;
}